# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SQLite DB
*.sqlite3

# Ignore environment file
.env

# Ignore editor/IDE settings
.vscode/
.idea/

# If you later move venv inside, this will help
venv/
env/
